<ion-view view-title="Your Online FIKA Manager">
  <ion-content class="padding">
    <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">Welcome</div>

      <ion-side-menus>
        <!-- Left menu -->
        <ion-side-menu side="left">
        </ion-side-menu>

        <ion-side-menu-content>
        <!-- Main content, usually <ion-nav-view> -->
        </ion-side-menu-content>

        <!-- Right menu -->
        <ion-side-menu side="right">
        </ion-side-menu>

      </ion-side-menus>
    </div>
  </ion-content>
</ion-view>
