<ion-view view-title="My Account">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <button id="myAccount-logout" class="button button-positive button-block" ng-click="logmeOut()">
        Logout
    </button>
    <button id="myAccount-close" class="button button-assertive button-large button-block icon-left ion-android-delete" ng-click="closeDeleteAccount()">Delete All Data &amp; Close Account</button>
    </ion-list>
  </ion-content>
</ion-view>
