<ion-view view-title="Login">
  <ion-content>
    <ion-list>
      <a href="#" class="item item-icon-left" ng-click="onLogin('facebook')">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>
      <a href="#" class="item item-icon-left" ng-click="onLogin('google')">
        <i class="icon ion-social-google"></i>
        Google
      </a>
      <a href="#" class="item item-icon-left" ng-click="onLogin('twitter')">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
      
      <a href="#" class="item item-icon-left" ng-click="onLogin('github')">
        <i class="icon ion-social-github"></i>
        Github
      </a>

    </ion-list>
  </ion-content>
</ion-view>
